<% include partials/header %>

<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('/img/medical.jpg');">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title">Your Best Echannelling Platform.</h1>
    </div>
  </div>
</div>
<div class="section section-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Who we are?</h2>
        <h5 class="description">We provide an echannelling platform for both patients and private channelling centres, in order to satisfy needs
          of the both parties. Doctors also get benifited for managing their time schedules.
        </h5>
      </div>
    </div>
    <div class="separator separator-primary"></div>
  </div>
</div>
<div class="section section-contact-us text-center">
  <div class="container">
    <h2 class="title">Want to work with us?</h2>
    <p class="description">Your project is very important to us.</p>
    <div class="row">
      <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
        <div class="input-group input-lg">
          <span class="input-group-addon">
            <i class="now-ui-icons users_circle-08"></i>
          </span>
          <input type="text" class="form-control" placeholder="First Name...">
        </div>
        <div class="input-group input-lg">
          <span class="input-group-addon">
            <i class="now-ui-icons ui-1_email-85"></i>
          </span>
          <input type="text" class="form-control" placeholder="Email...">
        </div>
        <div class="textarea-container">
          <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
        </div>
        <div class="send-button">
          <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>