.formdiv{
  width: 50%;
  margin: 3rem auto;
  padding: 2rem 3%;
  padding-bottom: 1%;
  background: #ffffff;
  min-width: 280px;  
}

.heading{
  text-align: center;
  margin-bottom: 2rem;
}

.login-btn{
  margin-top: 2rem; 
  margin-bottom: 0.5rem;
  text-align: center;
}